body {
    margin: 0;
}
.container {
    margin: auto;
    width: 900px;
    height: 1450px;
    @include petits-ecrans {
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    @include mobiles {
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
    }      
}
.container-menu1, .container-menu2, .container-menu3, .container-menu4 {
    width: 750px;
    margin: auto;
    @include petits-ecrans {
        @include container (100%);
    }
    @include mobiles {
        @include container (100%);
    }      
}
.container-acceuil {
    width: 750px;
    margin: auto;
    @include petits-ecrans {
        @include container (80%);
    }
    @include mobiles {
        @include container (100%);
    }
}
