@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(2deg);
    }  
    25% {
        transform: translate(-1px, -1px) rotate(-2deg);
    } 
    50% {
        transform: translate(1px, 1px) rotate(2deg);
    }
    75% {
        transform: translate(-1px, -1px) rotate(-2deg);
    }
    100% {
        transform: translate(1px, 1px) rotate(2deg);
    }
   }

footer {
    background-color: $header-footer-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    width: 900px;
    margin-top: 80px;
    position: fixed;
    bottom: 0;

    .pieddepage{    
        &__mentionslegales, &__contacteznous {
        text-decoration: none;  
            &:hover {
                animation: wiggle 200ms infinite;
            }      
        } 
    }  
}

