.pieddepage {
    background-color: $header-footer-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    margin-top: 80px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;

    &__mentionslegales {
        text-decoration: none;        
    }
    &__contacteznous {
        text-decoration: none;        
    }
}
