footer {
    background-color: $header-footer-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    width: 900px;
    margin-top: 80px;
    position: fixed;
    bottom: 0;
}

