

header {
    background-color:$header-footer-background;
    text-align: center;
    @include petits-ecrans {
        margin-bottom: 20px;
        width: 100%;
    }
    @include mobiles {

    }  
}
.ohmyfood {
    text-decoration: none;
    color: $color-letters-header;
}
h1 {
    margin-top: 0;
    padding: 25px;
    @include petits-ecrans {
        width: auto;
        padding: 10px;
        margin: auto;    
    }
    @include mobiles {        
        padding: 0;

    }
}