

header {
    background-color:$header-footer-background;
    text-align: center;
    
}
.ohmyfood {
    text-decoration: none;
    color: $color-letters-header;
}
h1 {
    margin-top: 0;
    padding: 25px;
}