@keyframes points {
    0% {
        transform: translateY(0) ;
        opacity: 1;
    }    
    50% {
        transform: translateY(-8px) ;
        opacity: .8;
    }
    100% {
        transform: translateY(0);
        opacity: .5;
    }
}
.contenu-menu-haut, .contenu-menu-bas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
    @include petits-ecrans {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}
.contenu-menu-haut1, .contenu-menu-haut2, .contenu-menu-bas1, .contenu-menu-bas2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 45%;    
    text-align: center;
    border: 1px black solid;
    @include petits-ecrans {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;       
    }
}
.contenu-menu-haut1__lien {
    @include effet-zoom;    
}
.contenu-menu-haut2__lien {
    @include effet-zoom;
}
.contenu-menu-bas1__lien {
    @include effet-zoom;
}
.contenu-menu-bas2__lien {
    @include effet-zoom;
}
.contenu-menu-haut1 {
    background-color: $menu1-background;
        &__lien {
            text-decoration: none;
        }
        &__intitule {
            color: $color-acceuil-menu1;
        }
}
.contenu-menu-haut2 {
    background-color: $menu2-background;
        &__lien {
            text-decoration: none;
        }
        &__titre1 {
            background: -webkit-linear-gradient(135deg, $color-acceuil-menu2, $color-acceuil-menu2b);
            background: linear-gradient(135deg, $color-acceuil-menu2, $color-acceuil-menu2b);
            color: transparent;
            -webkit-background-clip: text;
        }
        &__titre2 {
            color: #C77412;
        }
}
.contenu-menu-bas1 {
    background-color: $menu3-background;
        &__lien {
            text-decoration: none;
        }
        &__titre1 {
           background: -webkit-linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b);
           background: linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b);
            color: transparent;
            -webkit-background-clip: text;
        }
        &__titre2 {
            color: $color-acceuil-menu3b;
        }
}
.contenu-menu-bas2 {
    background-color:$menu4-background ;
        &__lien {
            text-decoration: none;
        }
        &__titre1 {
            background: -webkit-linear-gradient(135deg, $color-acceuil-menu4, $color-acceuil-menu4b);
            background: linear-gradient(135deg, $color-acceuil-menu4, $color-acceuil-menu4b);
            color: transparent;
            -webkit-background-clip: text;
        }
         &__titre2 {
             color: $color-acceuil-menu4-menu;
        }
}
.prochainement {
    background-color: $header-footer-background;
    width: 340px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 8px;
    @include petits-ecrans {
        width: auto;  
        padding: 0 10px;    
    }
    @include mobiles {
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }
}
.point1 {

    display: inline-block;
    animation: points 1000ms infinite;
    
}
.point2 {
    display: inline-block;
    animation: points 1000ms 300ms infinite;

}
.point3 {
    display: inline-block;
    animation: points 1000ms 600ms infinite;
}

