.delice {
    text-align: center;
}
.container-menu3 {
    background-color: $menu3-background;
    display: flex;
    flex-direction: column;  
    
}
.container-menu3-haut {
    @include container-menu;
        &__titre {
            background: -webkit-linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b );
            background: linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;        
        }
}
.container-menu3-commencer {
    margin-top: 50px;
        &__entete {
        @include menu-entete;     
        }
        &__imageG {
        @include menu-images;        
        }
        &__imageD {
        @include menu-images;        
        }
        &__corps {
        @include menu2-3-texte(black);        
        }
        &__titre {        
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
                @include underline-after;
                width: 175px;     
                background: $color-acceuil-menu3; 
            }  
        }    
}
.container-menu3-continuer {
    margin-top: 30px;
        &__entete {
        @include menu-entete; 
        }
        &__imageG {
        @include menu-images;
        }
        &__imageD {
        @include menu-images;
        }
        &__corps {
        @include menu2-3-texte (black);
        }
        &__titre {            
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
            @include underline-after;
                width: 160px;   
                background: $color-acceuil-menu3c;          
            }  
        }
}
.container-menu3-terminer {
    margin-top: 30px;
    margin-bottom: 100px;
        &__entete {
        @include menu-entete;
        }
        &__imageG {
        @include menu-images;
        }
        &__imageD {
        @include menu-images;
        }
        &__corps {
        @include menu2-3-texte (black);
        }
        &__titre {        
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
                }
            &::after {
                @include  underline-after;
                width: 150px; 
                background:$color-acceuil-menu3d ;            
            }  
        }
}