.note-titre {
    text-align: center;
}
.container-menu1 {
    background-color: $menu1-background;
    display: flex;
    flex-direction: column;  
    
}
.container-menu1-haut {
    @include container-menu;
    line-height: 0.5rem;
        &__titre {
            color: $color-acceuil-menu1;
        } 
}
.container-menu1-prelude {
    margin-top: 30px;
    margin-bottom: 50px;
        &__entete {
            @include menu-entete;        
            }
        &__imageG {
            @include menu-images;
            padding-left: 30px;
            }
        &__imageD {
            @include menu-images;
            padding-right: 30px;
            }
        &__corps {
            @include menu1-texte($color-acceuil-menu1);
           }
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
                @include underline-after;
                width: 70px;
                background: $color-acceuil-menu1;            
            }  
        }
}
.container-menu1-pointorgue {
    margin-bottom: 50px;
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            padding-left: 30px;
        }
        &__imageD {
            @include menu-images;
            padding-right: 30px;
                }
        &__corps {
            @include menu1-texte($color-acceuil-menu1);
        } 
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
            @include underline-after;
                width: 130px;   
                background: $color-acceuil-menu1;          
            }  
        }
}
.container-menu1-mouvement {
    margin-bottom: 20px;
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            padding-left: 30px;
        }
        &__imageD {
            @include menu-images;
            padding-right: 30px;
                }
        &__texte {
            padding-left: 60px;
            color:$color-acceuil-menu1;
        }  
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
                @include  underline-after;
                width: 160px; 
                background: $color-acceuil-menu1;            
            }  
        }
}
.container-menu1-bas {
    display: flex;
    justify-content: center;
    align-items: center;
        &__image {
            margin-right: 10px;
        }
        &__titre {
            color: $color-acceuil-menu1;
            padding-bottom: 20px;
        }
}








