.chic-titre {
    @include titre;
    @include mobiles {
        padding: 0;
        margin-bottom: 10px;
    }
}
.container-menu2 {
    background-color: $menu2-background;
    display: flex;
    flex-direction: column;  
    box-shadow: 1px 1px 8px grey; 
}
.container-menu2-haut {
    @include container-menu;
        &__titre {
            background: -webkit-linear-gradient(135deg, $color-acceuil-menu2, $color-acceuil-menu2b);
            background: linear-gradient(135deg, $color-acceuil-menu2, $color-acceuil-menu2b);
            color: transparent;
            -webkit-background-clip: text;
        }
}
.container-menu2-appetit {
    margin-top: 50px;
    margin-bottom: 40px;
        &__entete {
           @include menu-entete;
        }
        &__imageG {
           @include menu-images;
           @include mobiles {
              @include menu-images-mini;
            }
        }
        &__imageD {
           @include menu-images;
           @include mobiles {
              @include menu-images-mini;
            }
        }
        &__corps {
            @include menu2-3-texte ($color-acceuil-menu2);
            @include petits-ecrans {
               padding-left: 40px;
               padding-right: 40px;        
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }        
        }
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__prix {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }           
        &__titre {
            color: $color-acceuil-menu2;
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
                @include underline-after;
                width: 230px;     
                background: $color-acceuil-menu2;
                @include petits-ecrans {
                    width: 0;
                }       
            }  
        }    
}
.container-menu2-papilles {
    margin-top: 30px;
    margin-bottom: 50px;
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            @include mobiles {
                @include menu-images-mini;
        }
        }
        &__imageD {
           @include menu-images;
           @include mobiles {
               @include menu-images-mini;
        }
        }
        &__corps {
           @include menu2-3-texte ($color-menu2-papilles);
           @include petits-ecrans {
              padding-left: 40px;
              padding-right: 40px;
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }        
        }
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
        &__prix {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }     
        &__titre {
            color: $color-menu2-papilles; 
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
            @include underline-after;
                width: 170px;   
                background: $color-menu2-papilles; 
                @include petits-ecrans {
                    width: 0;
                }             
            }  
        }
}
.container-menu2-gourmandises {
    margin-bottom: 60px;    
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            @include mobiles {
                @include menu-images-mini;
            } 
        }
        &__imageD {
            @include menu-images;
            @include mobiles {
                @include menu-images-mini;
            }
                }
        &__corps {
            @include menu2-3-texte($color-menu-gourmandises);
            @include petits-ecrans {
                padding-left: 40px;
                padding-right: 40px;        
                }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
                }     
        }        
        &__titre {
            color: $color-menu-gourmandises;
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
                }
            &::after {
                @include  underline-after;
                width: 200px; 
                background: $color-menu-gourmandises;
                @include petits-ecrans {
                    width: 0;
                }               
            }  
        }
}