.note-titre {
    @include titre;
    @include mobiles {
        padding: 0;
    }
}
.container-menu1 {
    background-color: $menu1-background;
    display: flex;
    flex-direction: column;  
    box-shadow: 1px 1px 8px grey;    
}
.container-menu1-haut {
    @include container-menu;
    line-height: 0.5rem;
    @include mobiles {
        line-height: normal;
    }
        &__titre {
            color: $color-acceuil-menu1;
        } 
}
.container-menu1-prelude {
    margin-top: 30px;
    margin-bottom: 50px;
        &__entete {
            @include menu-entete;        
            }
        &__imageG {
            @include menu-images;
            padding-left: 30px;
            @include mobiles {
                @include menu-images-mini;
                padding-left: 0;
               }
            }
        &__imageD {
            @include menu-images;
            padding-right: 30px;
            @include mobiles {
                @include menu-images-mini;
                padding-right: 0;
               }
            }
        &__corps {
            @include menu1-texte($color-acceuil-menu1);
            @include petits-ecrans {
                padding-left: 40px;
                padding-right: 40px;
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }        
        }
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__prix {        
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }            
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
                @include underline-after;
                width: 70px;
                background: $color-acceuil-menu1; 
                @include petits-ecrans {
                    width: 0;
                }           
            }  
        }
}
.container-menu1-pointorgue {
    margin-bottom: 50px;
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            padding-left: 40px;
            @include mobiles {
                @include menu-images-mini;
                padding-left: 0;
            }
        }
        &__imageD {
            @include menu-images;
            padding-right: 40px;
            @include mobiles{
                @include menu-images-mini;
                padding-right: 0;
            }
        }
        &__corps {
            @include menu1-texte($color-acceuil-menu1);
            @include petits-ecrans {
                padding-left: 40px;
                padding-right: 40px;        
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }     
        }
       
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
        &__prix {        
            display: flex;
            flex-direction: column;
            justify-content: flex-end;                      
        }     
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
            @include underline-after;
                width: 130px;   
                background: $color-acceuil-menu1;   
                @include petits-ecrans {
                    width: 0;
                }       
            }  
        }
}
.container-menu1-mouvement {
    margin-bottom: 20px;
        &__entete {
            @include menu-entete;
        }
        &__imageG {
            @include menu-images;
            padding-left: 50px;
            @include mobiles {
                @include menu-images-mini;
                padding-left: 0;
            }
        }
        &__imageD {
            @include menu-images;
            padding-right: 50px;
            @include mobiles {
                @include menu-images-mini;
                padding-right: 0;
            }
                }
        &__texte {
            padding-left: 70px;
            padding-right: 70px;
            color:$color-acceuil-menu1;
            line-height: 2.5rem;
            @include petits-ecrans {
                padding-left: 40px;
                padding-right: 40px;        
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }     
        }  
        &__titre {
            color:$color-acceuil-menu1;    
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
            }
            &::after {
                @include  underline-after;
                width: 160px; 
                background: $color-acceuil-menu1; 
                @include petits-ecrans {
                    width: 0;
                }           
            }  
        }
}
.container-menu1-bas {
    display: flex;
    justify-content: center;
    align-items: center;
        &__image {
            margin-right: 10px;
        }
        &__titre {
            color: $color-acceuil-menu1;
            padding-bottom: 20px;
        }
}








