.delice {
    @include titre;
    @include mobiles {
        padding: 0;
        margin-bottom: 10px;
    }
}
.container-menu3 {
    background-color: $menu3-background;
    display: flex;
    flex-direction: column;  
    box-shadow: 1px 1px 8px grey;
    
}
.container-menu3-haut {
    @include container-menu;
        &__titre {
            background: -webkit-linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b );
            background: linear-gradient(135deg, $color-acceuil-menu3, $color-acceuil-menu3b);
            color: transparent;
            -webkit-background-clip: text;        
        }
}
.container-menu3-commencer {
    margin-top: 50px;
        &__entete {
           @include menu-entete;     
        }
        &__imageG {
           @include menu-images; 
           @include mobiles {
               @include menu-images-mini;            
           }       
        }
        &__imageD {
           @include menu-images;
           @include mobiles {
               @include menu-images-mini;
            }               
        }
        &__corps {
           @include menu2-3-texte(black);  
           @include petits-ecrans {
               padding-left: 40px;
               padding-right: 40px;        
            }  
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }           
        }
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__prix {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }       
        &__titre {        
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
                @include underline-after;
                width: 175px;     
                background: $color-acceuil-menu3; 
                @include petits-ecrans {
                    width: 0;
                }    
            }  
        }    
}
.container-menu3-continuer {
    margin-top: 30px;
        &__entete {
           @include menu-entete; 
        }
        &__imageG {
           @include menu-images;
           @include mobiles {
               @include menu-images-mini;
            }
        }
        &__imageD {
            @include menu-images;
            @include mobiles {
                @include menu-images-mini;
            }
        }
        &__corps {
            @include menu2-3-texte (black);
            @include petits-ecrans {
               padding-left: 40px;
               padding-right: 40px;
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }        
        }

        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
        &__prix {           
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }       
        &__titre {            
            &:hover {                
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
            @include underline-after;
                width: 160px;   
                background: $color-acceuil-menu3c; 
                @include petits-ecrans {
                    width: 0;
                }              
            }  
        }
}
.container-menu3-terminer {
    margin-top: 30px;
    margin-bottom: 100px;
        &__entete {
           @include menu-entete;
        }
        &__imageG {
           @include menu-images;
           @include mobiles {
               @include menu-images-mini;
           }
        }
        &__imageD {
           @include menu-images;
           @include mobiles {
               @include menu-images-mini;
            }
        }
        &__corps {
           @include menu2-3-texte (black);
           @include petits-ecrans {
              padding-left: 40px;
              padding-right: 40px;
            }
            @include mobiles {
                padding-left: 20px;
                padding-right: 20px;        
            }        
        }
        &__texte {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
            &__prix {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }     
        &__titre {        
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
                }
            &::after {
                @include  underline-after;
                width: 150px; 
                background:$color-acceuil-menu3d; 
                @include petits-ecrans {
                    width: 0;
                }      
            }  
        }
}