.gout {
    @include titre;
}
.container-menu4 {
    background-color: $menu3-background;
    display: flex;
    flex-direction: column;      
}
.container-menu4-haut {
    @include container-menu;
    &__titre {
        background: -webkit-linear-gradient(135deg, $color-acceuil-menu4, $color-acceuil-menu4b);
        background: linear-gradient(135deg, $color-acceuil-menu4, $color-acceuil-menu4b);
        color: transparent;
        -webkit-background-clip: text;  
    }             
 }
.container-menu4-esquisse {
    margin-top: 50px;   
        &__entete {
            @include menu-entete;     
            }
            &__imageG {
            @include menu-images;        
            }
            &__imageD {
            @include menu-images;        
            }
            &__corps {
            @include menu4-texte;
            }
            &__titre {        
                &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
                }
                &::after {
                    @include underline-after;
                    width: 70px;     
                    background: $color-acceuil-menu4; 
                }  
            }    
}
.container-menu4-oeuvre {
    margin-top: 30px;
        &__entete {
        @include menu-entete; 
        }
        &__imageG {
        @include menu-images;
        }
        &__imageD {
        @include menu-images;
        }
        &__corps {
        @include menu4-texte;
        }
        &__titre {            
            &:hover {                
                &::after {
                    transform: scaleX(1);
                    }
            }
            &::after {
            @include underline-after;
                width: 140px;   
                background: $color-acceuil-menu4;          
            }  
        }
}
.container-menu4-art {
    margin-top: 30px;
    margin-bottom: 100px;
        &__entete {
        @include menu-entete;
        }
        &__imageG {
        @include menu-images;
        }
        &__imageD {
        @include menu-images;
        }
        &__corps {
        @include menu4-texte;
        }
        &__titre {        
            &:hover {                
                    &::after {
                        transform: scaleX(1);
                    }
                }
            &::after {
                @include  underline-after;
                width: 155px; 
                background:$color-acceuil-menu4 ;            
            }  
        }
}