@mixin menu1-texte {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}

@mixin menu2-3-texte {
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}

@mixin menu4-texte {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

@mixin menu-images {
    height: 10px;
    width: 200px;    
}

@mixin menu-entete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

@mixin underline-hover-after {
    transform-origin: 0% 50%;
    transition: transform 600ms;
    transform: scaleX(1);
}

@mixin underline-after {
    content: "";
    display: block;
    height: 2px;
    bottom: 0px;
    transform: scaleX(0);
}