$header-footer-background: #579C87;
$menu1-background: #FCDFDB;
$menu2-background: #FFF5FE;
$menu3-background: #F9F9F9;
$menu4-background: #FDFFFD;
$color-letters-header: #FDCB46;
$color-acceuil-menu1: #3C1218;
$color-acceuil-menu2: #C77412;
$color-acceuil-menu2b: #8F5AFF;
$color-menu2-papilles: #A56799;
$color-menu-gourmandises: #6E4CCC;
$color-acceuil-menu3: #0022DB;
$color-acceuil-menu3b: #0889FB;
$color-acceuil-menu3c: #0670F3;
$color-acceuil-menu3d: #229DF9;
$color-acceuil-menu4: #43973D;
$color-acceuil-menu4b: #BEFF7F;
$color-acceuil-menu4-menu: #72BF56;
$color-mentios-legales: #F5F5F5;
$breakpoints: (
    mobile: 600px,
    tablette: 800px
);