$header-footer-background: #579C87;
$menu1-background: #FCDFDB;
$menu2-background: #FFF5FE;
$menu3-background: #F9F9F9;
$menu4-background: #FDFFFD;
$color-letters-header: #FDCB46;
$color-acceuil-menu1: #3C1218;
$color-acceuil-menu2: #C77412;
/*$color-acceuil-menu1:*/
/*$color-acceuil-menu1:*/